
ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
}
/*
li{
    display: inline;
}
*/
li {
    float: left;
}

p::first-line{
   color: rgb(255, 94, 0);
   text-transform: uppercase;
}

p:hover{
  background-color: blue;
  color:rgb(213,216,179);
}

li a {
  display: block;
  padding: 8px;
  text-align: center;
  background-color: #dddddd;
}

/* Muda a cor do link para #fadddd quando o mouse passar no link */
li a:hover {
  background-color: #fadddd;
}