* {
   margin: 10px;
}

body {
   color: blue;
}

h1 {
   border-top: 2px solid rgb(45, 0, 128);
   border-bottom: 2px solid rgb(45, 0, 128);
   color: red;
}

h3 {
   color: rgb(13, 170, 197);
}

p {
   border-color:rgb(0,128,0);
   border-style:solid;
   border-width:2px;

   font-family: monospace;
   font-size: 13px;
}

#art02 {
   border-radius: 5%;
   border-style : dotted;
   background-color: bisque;
   color: green;
}

.fonte-fantasy-pequena-crimsom {
   font-family: fantasy;
   font-size: 10px;
   color: rgb(220, 20, 60);
}